<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>🌦 Weather Forecast App</h1>

        <form method="POST">

            <input
                type="text"
                name="city"
                placeholder="Enter City Name"
                required
            >

            <button type="submit">Get Weather</button>

        </form>

        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}

        {% if weather %}

        <div class="weather-card">

            <h2>{{ weather.city }}, {{ weather.country }}</h2>

            <img
                src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png"
                alt="Weather Icon"
            >

            <h3>{{ weather.temperature }} °C</h3>

            <p class="condition">
                {{ weather.condition }}
            </p>

            <div class="details">

                <div class="detail-box">
                    <h4>Humidity</h4>
                    <p>{{ weather.humidity }}%</p>
                </div>

                <div class="detail-box">
                    <h4>Wind Speed</h4>
                    <p>{{ weather.wind }} m/s</p>
                </div>

                <div class="detail-box">
                    <h4>Pressure</h4>
                    <p>{{ weather.pressure }} hPa</p>
                </div>

            </div>

        </div>

        {% endif %}

    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>